

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.background {
    display: grid;
    height: 40vw;
    width: 60vw;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.balloon {
    border-radius: 50%;
}