@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Open+Sans:wght@400;700&display=swap');

:root {
    --sidebar: #68b1d5;
    --button: #ebeded;
    --button-hover: #b2d1e2;;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    flex-grow: 1;
}

.background-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.background {
    display: grid;
    min-width: 600px;
    min-height: 400px;
    width: 60vw;
    height: 40vw;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-position: center;
    background-size: 45%;
    background-repeat: no-repeat;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 16rem;
    background-color: var(--sidebar);
    color: white;
    padding: 2rem;
}

.sidebar h2 {
    text-shadow: -2px 2px black;
    margin: 2rem .7rem .75rem 0;
    font-family: 'Chewy', cursive;
    font-size: 2rem;
    letter-spacing: 2px;
}

.control-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
}

.color-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

button {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--button);
    border-radius: 8px;
    padding: 10px;
    border: 2px solid grey;
    box-shadow: -3px 3px black;
    font-size: 1rem;
}

button:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}

button:active {
    transform: translate(-2px, 2px)
}

.colors {
    width: 9rem;
}

.selected {
    background-color: var(--button-hover);
    box-shadow: inset -3px 3px black;
    transform: translate(-4px, 4px);
}

.result {
    margin: -70px 0 8rem 0;
    font-size: 1.25rem;
}